@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Beaufort for LOL Bold";
  src: url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
  src: url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#Beaufort for LOL Bold")
      format("svg");
}

body {
  font-family: "Beaufort for LOL Bold";
  min-height: 100vh;
}
#root {
  height: 100vh;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
